@import url("https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap");


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  padding: 8px;
  font-family: "Roboto", sans-serif;
}
header {
  background: #ffffef;
  padding-top: 16px;
  position: relative;
}
.mobile-menu-wrapper {
  display: none;
}
.mobile-menu-burger {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.mobile-menu-line {
  width: 32px;
  height: 2px;
  background: #56593d;
}
.mobile-menu-burger.active {
  position: relative;
}
.mobile-menu-burger.active .mobile-menu-line:first-child {
  transform: rotate(45deg);
  position: absolute;
  bottom: 0;
}
.mobile-menu-burger.active .mobile-menu-line:nth-child(2) {
  display: none;
}
.mobile-menu-burger.active .mobile-menu-line:last-child {
  transform: rotate(-45deg);
}
.mobile-menu {
  position: absolute;

  left: 0;
  display: none;
  width: 100%;
  padding: 25px 64px;
  background: white;
  transition: 0.5s;
}
.mobile-menu.active {
  display: block;
}
.mobile-menu-nav {
  flex-direction: column;
}
.submenu {
  list-style: none;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.submenu a {
  padding: 5px;
  border-left: 2px solid black;
  border-bottom: 1px solid black;
  margin-left: 20px;
}
.container {
  max-width: 1360px;
  margin: auto;
}
.header-wrapper {
  z-index: 2;
  padding: 25px 64px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  position: relative;
}
.link {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: inherit;
}
.link:hover {
  border-bottom: 2px solid #000000ee;
}
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo__link {
  transition: 0.3s;
}
.logo__link:hover {
  transform: scale(1.2);
  transition: 0.3s;
  border-bottom: 2px solid transparent;
}
.nav-list,
.menu-list {
  list-style: none;
  display: flex;
  color: #56593d;
}
.menu-item {
  position: relative;
}
.quantity {
  position: absolute;
  bottom: -2px;
  right: -4px;
  background: #ffffef;
  border-radius: 20px;
  width: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 25.2px;
}
.nav-item__link,
.menu-link {
  text-decoration: none;
  font-family: Roboto;
  color: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 1.575px;
  text-transform: uppercase;
  position: relative;
}
.menu-link:hover {
  border-bottom: none;
  stroke: #696969;
  fill: #3a3a3a;
}
.nav-list {
  gap: 40px;
}
.nav-list > li:first-child {
  margin-right: 25px;
}

.nav-list > li:first-child .nav-item__link::after,
.nav-list > li:last-child .nav-item__link::after {
  content: url(../img/icons/arrow.svg);
  position: absolute;
  top: -10px;
  right: -15px;
  transition: 0.3s;
}
.menu-list {
  gap: 20px;
  margin-right: 8px;
  margin-top: 5px;
  align-items: flex-end;
}
.banner-wrapper {
  background: #ffffef;
  padding: 16px;
  margin-top: 10px;
}
.banner {
  background-image: -webkit-image-set(
    url("../img/bg1/bg1.webp") type("image/webp"),
    url("../img/bg1/bg1.png") type("image/png")
  );
  background-image: image-set(
    url("../img/bg1/bg1.webp") type("image/webp"),
    url("../img/bg1/bg1.png") type("image/png")
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 700px;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}
.title {
  color: #56593d;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}
.text {
  color: #56593d;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}
.button {
  color: #ffffef;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.365px;
  letter-spacing: 1.575px;
  text-transform: uppercase;
  background: #56593d;
  border: none;
  cursor: pointer;
}
.banner__text {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 21.6px; /* 120% */
  letter-spacing: 1.8px;
}
.banner__title {
  font-size: 45px;
  line-height: 60.48px; /* 134.4% */
  margin-bottom: 25px;
}
.button {
  padding: 15px 30px 15px 30px;
  transition: 0.3s;
}
.button:hover {
  background: #747753;
  transform: scale(1.2);
  transition: 0.3s;
}
.tagline {
  margin-top: 94px;
  padding: 0 85px;
}
.tagline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tagline__title {
  text-align: center;
  font-size: 57px;
  line-height: 81px; /* 142.105% */
  margin-bottom: 23px;
}
.tagline-links {
  display: flex;
  gap: 73px;
}
.tagline__link {
  text-decoration: none;
  color: #56593d;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px; /* 160% */
  letter-spacing: 1.6px;
  border-bottom: 2px solid #56593d;
}
.tagline__link::after {
  content: url(../img/icons/arrow_right.svg);
  margin-left: 10px;
  transition: 0.3s;
}
.tagline__link:hover::after {
  margin-left: 20px;
  transition: 0.3s;
}
.collection {
  margin-top: 90px;
  background: #ffffef;
  padding: 64px 0 80px 0;
  margin-bottom: 23px;
}
.collection-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.collection__title {
  margin-bottom: 80px;
  text-align: center;
  font-size: 24px;
  line-height: 32.4px; /* 135% */
}
.collection-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}
.collection-item-link {
  text-decoration: none;
  border-bottom: none;
  transition: 0.3s;
}
.collection-item-link:hover {
  border-bottom: none;
}
.collection-item-link img {
  transition: 0.3s;
}
.collection-item-link:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}
.product-info {
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.product-name {
  font-size: 16px;
  line-height: 21.6px; /* 135% */
}
.product-price {
  font-size: 16px;
  line-height: 25.92px; /* 162% */
  letter-spacing: 1.62px;
}
.essentials {
  background-image: -webkit-image-set(
    url("../img/bg2/bg2.webp") type("image/webp"),
    url("../img/bg2/bg2.png") type("image/png")
  );
  background-image: image-set(
    url("../img/bg2/bg2.webp") type("image/webp"),
    url("../img/bg2/bg2.png") type("image/png")
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.essentials__text {
  text-align: center;
  font-size: 17px;
  line-height: 21.6px; /* 127.059% */
  letter-spacing: 1.8px;
}
.essentials__title {
  text-align: center;
  font-size: 50px;
  line-height: 60.48px; /* 120.96% */
  max-width: 1020px;
}
.about {
  background: #ffffef;
  margin-top: 24px;
}
.about-wrapper {
  padding: 64px 32px;
  display: flex;
  gap: 32px;
}
.about-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 63px 88px;
}
.about-info__title {
  color: #56593d;
  text-align: center;
  font-size: 29px;
  line-height: 38.88px; /* 134.069% */
}
.seporator {
  width: 40px;
  height: 1px;
  background: #717353;
  margin: 32px 0;
}
.about-info__text {
  color: #56593d;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.4px; /* 162% */
}
.subscribe.container {
  padding: 40px 16px;
}
.subscribe-wrapper {
  background: #ffffef;
  padding: 55px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe__title {
  color: #56593d;
  text-align: center;
  font-size: 28px;
  line-height: 38.88px; /* 138.857% */
  margin-bottom: 16px;
}
.subscribe__text {
  color: #56593d;
  text-align: center;
  font-size: 17px;
  line-height: 28.8px; /* 169.412% */
  margin-bottom: 45px;
}
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  align-items: center;
  justify-content: center;
}
.subscribe-form__input {
  width: 340px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #56593d;
}
:focus {
  outline: 0;
  outline-offset: 0;
}
.subscribe-form__button {
  padding: 0 25px;
}
.photos {
  background: #ffffef;
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.photos__title {
  text-align: center;
  font-size: 25px;
  line-height: 32.4px; /* 129.6% */
}
.photos-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
footer {
  margin-top: 128px;
  background: #717353;
  padding: 64px 32px 105px 32px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-columns {
  display: flex;
  gap: 115px;
}
.footer-column {
  display: flex;
  flex-direction: column;
  width: 250px;
}
.footer-text {
  color: #ffffef;
  font-size: 16px;
  line-height: 25.2px; /* 157.5% */
}
.footer-seporator {
  background: #ffffef;
  margin-top: 15px;
  margin-bottom: 25px;
}
.footer-text:nth-child(1) {
  font-size: 15px;
  line-height: 18.9px; /* 126% */
  letter-spacing: 1.575px;
  text-transform: uppercase;
}
.footer-column:nth-child(1) > .footer-text:first-child {
  text-transform: none;
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  color: #ffffef;
  gap: 18px;
}
.footer-link {
  text-decoration: none;
  color: inherit;
  border-bottom: none;
}
.footer-link:hover {
  text-decoration: underline;
  border-bottom: none;
}
.footer-link svg:hover {
  fill: white;
}
.footer-socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 5px;
}
.footer-nav-list.second > li:first-child .nav-item__link::after,
.footer-nav-list.second > li:last-child .nav-item__link::after {
  content: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
}
.footer-dropdown .dropdown-content {
  right: -5px;
  bottom: 0;
}
.dropdown-content a {
  color: #56593d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover > .nav-item__link::after {
  transform: rotate(180deg);
  transition: 0.3s;
}
.footer-dropdown:hover > .nav-item__link::after {
  transform: rotate(-90deg);
  transition: 0.3s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .footer-wrapper {
    margin: auto;
    max-width: 960px;
  }
  .mobile-menu-wrapper {
    display: block;
  }
  .mobile-menu-list {
    position: absolute;
    right: 64px;
    top: 25px;
    list-style: none;
    display: flex;
    gap: 25px;
  }
  .nav {
    display: none;
  }
  .collection-item-img {
    max-width: 400px;
  }
  .nav-list {
    gap: 25px;
  }
  .nav-list > li:first-child .nav-item__link::after,
  .nav-list > li:last-child .nav-item__link::after {
    content: none;
  }
  .menu-item:first-child,
  .menu-item:nth-child(2) {
    display: none;
  }

  .footer-columns {
    gap: 30px;
  }
  .footer-column {
    width: auto;
    max-width: 250px;
  }
  .link,
  .text {
    font-size: 20px;
  }
  .title {
    font-size: 35px;
    line-height: 40px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .about-wrapper {
    flex-direction: column;
    gap: 0;
    padding: 16px;
  }
  .about-info {
    padding: 16px;
  }
  .about-photo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .header-wrapper,
  .mobile-menu {
    padding: 25px 25px;
  }
  .mobile-menu-list {
    top: 25px;
    right: 25px;
  }
  .banner {
    height: 450px;
    padding: 16px;
  }
  .link:hover {
    border-bottom: 2px solid transparent;
    transform: scale(1);
  }
  .collection-item-link {
    border: none;
  }
  .tagline__link:hover::after {
    margin-left: 10px;
    transition: 0.3s;
  }
  .button:hover {
    transform: scale(1);
    background: #56593d;
  }
  .collection-item-link:hover img {
    transform: scale(1);
    transition: 0.3s;
  }
  .footer-wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .dropdown:hover .dropdown-content {
    display: none;
  }
  .footer-link:hover,
  .collection-item-link:hover {
    border: none;
  }
  .footer-link:hover svg {
    border: none;
    fill: inherit;
    stroke: inherit;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .tagline {
    margin-top: 30px;
    padding: 0 10px;
  }
  .collection {
    padding: 32px 0;
  }
  .collection__title {
    margin-bottom: 40px;
  }
  .text {
    font-size: 15px;
  }
  .title {
    font-size: 30px;
    line-height: 30px;
  }
  .banner {
    height: 300px;
  }
  .collection-item-img {
    max-width: 300px;
  }
  .seporator {
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .tagline-links {
    margin-top: 20px;
    flex-direction: column;
    gap: 50px;
  }
  .subscribe-form__button,
  .subscribe-form__input {
    padding: 15px;
    width: 100%;
  }
  .subscribe-form__input {
    border: 1px solid #56593d;
  }
  .footer-columns {
    flex-direction: column;
  }
  .photo,
  .photo__img {
    max-width: 300px;
  }
}
